.content-preview {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* 두 줄을 표시하고 넘어가면 말줄임표 표시 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-title {
    min-height: 20px;
}

#profile-img {
    float: left;
}

.tag {
    margin-left: 5px;
}

#top {
    display: flex;
    justify-content: space-between;
}

#no-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#no-content>p {
    margin-top: 100px;
}

.like {
    display: flex;
    align-items: center;
}

#author-date {
    margin-left: 15px;
    margin-top: 10px;
}

#top-info {
    display: flex;
    justify-content: left;
    align-items: center;
}

.preview-main,
.d-flex {
    margin-top: 10px;
}

.custom-badge {
    background-color: #042444;
    color: white;
}

.card {
    margin: 10px;
}

#top-btn {
    font-size: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #042444;
}